---
import Page from "../../layouts/Page.astro";
import {Card, CardContent, CardDescription, CardHeader, CardTitle} from "../../components/ui/card";
import {getJobById} from "../../lib/nomad/jobs";
import {Job} from '@/components/Job.tsx'
const { jobId } = Astro.params;

if(!jobId) {
    return Astro.redirect("/jobs");
}

const job = await getJobById(import.meta.env.SKELLER_SCHEDULER_URL, jobId);

if(!job) {
    Astro.response.status = 404;
    Astro.response.statusText = "Not found";
}
Astro.redirect("/jobs");
---

<Page title="Job" description="Show Job">
    <Card>
        <CardHeader>
            <div class="flex"><CardTitle className="flex-1">Job: {jobId}</CardTitle></div>
            <CardDescription>Status: {job.Status}</CardDescription>
        </CardHeader>
        <CardContent>
            <Job job={job} client:only="react"/>
        </CardContent>
    </Card>
</Page>
